.react-chatbot-kit-chat-container {
    position: fixed;
    bottom: 90px;
    right: 20px;
}

.react-chatbot-kit-chat-message-container {
    background: #c7d3d4ff;
}

.react-chatbot-kit-chat-input-form {
    background: #567572ff;
    color: white;
}

/*bot button on homepage that cam toggle*/
.app-chatbot-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background-color: #fb7185;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-chatbot-button-icon {
    width: 25px;
    height: 25px;
}
