react-chatbot-kit-chat-bot-message-container {

}

.react-chatbot-kit-chat-container {
    width: 100%;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
}

.react-chatbot-kit-chat-message-container {
    background: #c7d3d4ff;
}

.react-chatbot-kit-chat-input-form {
    background: #567572ff;
    color: white;
}

/*bot button on homepage that cam toggle*/
.app-chatbot-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background-color: #fb7185;
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.app-chatbot-button-icon {
    width: 25px;
    height: 25px;
}
